.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: transparent;
    padding: 15px;
    box-sizing: border-box;
}

@media screen and (max-width: 900px) {

}