$fontFamily: Circe, sans-serif;

* {
    margin: 0;
}
.app {
    width: 100%;
    font-family: $fontFamily;
    background-image: url("bgImg/P1019640.jpg");
    background-size: cover;
    background-attachment: fixed;

    img {
        width: 100%;
        position: absolute;
        z-index: 0;
    }
}

